.coupons_expired_container .archive_item_wrapper .coupon_item [class^="ic-"],
.coupons_expired_container .archive_item_wrapper .coupon_item [class*=" ic-"],
.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_left--discount,
.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_center--title {
  color: #9f9a9a !important;
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_left--type {
  background-color: #9f9a9a !important;
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_right--arrow i {
  color: #9f9a9a !important;
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_right--button {
  /* угол */
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_right--button:before {
  background-color: #9f9a9a;
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_right--button:hover:before {
  background-color: #858985;
}

.coupons_expired_container .archive_item_wrapper .coupon_item .coupon_item_right--button.promo_button:after {
  border-color: transparent transparent transparent #c8c3c3;
}

.coupon_item.promocode .coupon_item_left--discount {
  color: #57ac58;
}

.coupon_item.promocode .coupon_item_left--type {
  background-color: #57ac58 !important;
}

.coupon_item.promocode .ic-coupon {
  color: #57ac58;
}

.coupon_item.promocode .coupon_item_right--arrow i {
  color: #57ac58 !important;
}

.coupon_item.action .coupon_item_left--discount {
  color: #547ED3;
}

.coupon_item.action .coupon_item_left--type {
  background-color: #547ED3 !important;
}

.coupon_item.action .ic-sale {
  color: #547ED3;
}

.coupon_item.gift .coupon_item_left--discount {
  color: #b53d72;
}

.coupon_item.gift .coupon_item_left--type {
  background-color: #b53d72 !important;
}

.coupon_item.gift .ic-gift {
  color: #b53d72;
}

.coupon_item.delivery .coupon_item_left--discount {
  color: #f57218;
}

.coupon_item.delivery .coupon_item_left--type {
  background-color: #f57218 !important;
}

.coupon_item.delivery .ic-car {
  color: #f57218;
}

/* новое модальное окно */
.modal_item.promocode .modal_item--left--discount {
  color: #57ac58;
}

.modal_item.promocode .modal_item--left--type {
  background-color: #57ac58 !important;
}

.modal_item.promocode .ic-coupon {
  color: #57ac58;
}

.modal_item.action .modal_item--left--discount {
  color: #547ED3;
}

.modal_item.action .modal_item--left--type {
  background-color: #547ED3 !important;
}

.modal_item.action .ic-sale {
  color: #547ED3;
}

.modal_item.gift .modal_item--left--discount {
  color: #b53d72;
}

.modal_item.gift .modal_item--left--type {
  background-color: #b53d72 !important;
}

.modal_item.gift .ic-gift {
  color: #b53d72;
}

.modal_item.delivery .modal_item--left--discount {
  color: #f57218;
}

.modal_item.delivery .modal_item--left--type {
  background-color: #f57218 !important;
}

.modal_item.delivery .ic-car {
  color: #f57218;
}
