  .coupons_active_container,
  .coupons_expired_container {
    width: auto;
    padding: 0px 10px;

    width: 100%;/**************/
    /* box-sizing: content-box; */
    box-sizing: border-box;
    /* background-color: pink; */
  }

.coupons_active_container .coupon_item,
.coupons_expired_container .coupon_item {
  padding: 5px;
  padding-left: 15px;
  min-height: initial;
}

.coupons_active_container .coupon_item .coupon_item_center,
.coupons_expired_container .coupon_item .coupon_item_center {
    width: 90%;
    /* min-width: 90%; *//**************/
    width: 100%;/**************/
}

.coupons_active_container .coupon_item_left .coupon_item_left_clickable,
.coupons_expired_container .coupon_item_left .coupon_item_left_clickable{
    box-sizing: content-box;/**************/
}

.coupons_active_container .coupon_item .coupon_item_right,
.coupons_expired_container .coupon_item .coupon_item_right {
  width: 10%;
  min-width: 10%;
}

.coupons_active_container .coupon_item .coupon_item_left,
.coupons_expired_container .coupon_item .coupon_item_left {
  width: 0px;
  min-width: 0px;
}

.coupons_active_container .coupon_item .coupon_item_bottom,
.coupons_expired_container .coupon_item .coupon_item_bottom {
  display: none;
}

.coupons_active_container .coupon_item .coupon_item_center,
.coupons_expired_container .coupon_item .coupon_item_center {
  width: 90%;
  border-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* plugin version */
.coupon_item .coupon_item_center:before,
.coupon_item .coupon_item_center:after {
  display: none;
}
.coupon_item .coupon_item_center{
  border-right:none;
  padding-bottom: 0;
}

/*****************************************/
        .coupons_active_container .coupon_item .coupon_item_center:before, .coupons_active_container .coupon_item .coupon_item_center:after,
        .coupons_expired_container .coupon_item .coupon_item_center:before,
        .coupons_expired_container .coupon_item .coupon_item_center:after {
          background-color: transparent;
          border-color: transparent; }
        .coupons_active_container .coupon_item .coupon_item_center .coupon_item_center--title,
        .coupons_expired_container .coupon_item .coupon_item_center .coupon_item_center--title {
          font-size: 1.1em;
          margin-bottom: 0; }
        .coupons_active_container .coupon_item .coupon_item_center .coupon_item_center--counter,
        .coupons_expired_container .coupon_item .coupon_item_center .coupon_item_center--counter {
          display: none; }
        .coupons_active_container .coupon_item .coupon_item_center .coupon_item_center--desciption,
        .coupons_expired_container .coupon_item .coupon_item_center .coupon_item_center--desciption {
          display: none; }
      .coupons_active_container .coupon_item .coupon_item_right,
      .coupons_expired_container .coupon_item .coupon_item_right {
        width: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .coupons_active_container .coupon_item .coupon_item_right .coupon_item_right--container,
        .coupons_expired_container .coupon_item .coupon_item_right .coupon_item_right--container {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .coupons_active_container .coupon_item .coupon_item_right .coupon_item_right--button,
        .coupons_active_container .coupon_item .coupon_item_right .coupon_item_right--term,
        .coupons_expired_container .coupon_item .coupon_item_right .coupon_item_right--button,
        .coupons_expired_container .coupon_item .coupon_item_right .coupon_item_right--term {
          display: none; }
        .coupons_active_container .coupon_item .coupon_item_right .coupon_item_right--arrow,
        .coupons_expired_container .coupon_item .coupon_item_right .coupon_item_right--arrow {
          font-size: 2em; }
      .coupons_active_container .coupon_item .coupon_item_left,
      .coupons_expired_container .coupon_item .coupon_item_left {
        display: none; }
    .coupons_active_container .coupons_active_container--filter,
    .coupons_expired_container .coupons_active_container--filter {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .coupons_active_container .coupons_active_container--filter .active_filter_item:not(:first-child),
      .coupons_expired_container .coupons_active_container--filter .active_filter_item:not(:first-child) {
        margin-top: 10px; }

/* модальное окно */
.modal_container .modal_action_wrapper{
  width: 70%;
}
  .modal_container .modal_code--action{
    font-size: 1.2rem;
  }
  .modal_container .modal_code--action i{
    margin-right: 4px;
  }
  .modal_container .modal_code--value{
    font-size: 1.2rem;
  }
  .modal_container .modal_code--value.modal-value-noaction{
    font-size: 1.3rem !important;
  }
  .modal_container .modal_goto a{
    font-size: 1.3rem;
  }
  .modal_container .coupon_item_bottom--term{
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
  }
  .modal_container .modal_subtitle{
    font-size: 1.2rem;
    line-height: 1.2rem;
  }



/*
  .modal_container {
    width: 180px;
    padding: 15px 15px; }
    .modal_container .modal_goto {
      width: 90%;
      font-size: 1em;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .modal_container .modal_code_container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .modal_container .modal_code_container .modal_code--action {
        width: 50%;
        width: 100%;
        font-size: 0.8em;
        margin-top: 20px; }
        .modal_container .modal_code_container .modal_code--action i {
          display: none; }
      .modal_container .modal_code_container .modal_code--value {
        width: 65%;
        width: 100%;
        font-size: 0.8em; }
      .modal_container .modal_code_container.copied i {
        display: none; }
*/
